body{
    text-align: center;
    margin: 0;
    
}
.profile{
    margin-top: 50px;
    width: 175px;
    border-radius:50%; 
    margin-bottom: 50px;
}
#welcome{
    height: 800px;
    
    background: linear-gradient(#f0fc0a 0%,#055bfa 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    display: table;
top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#bio{
    padding-top: 600px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.line{
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}